# Build output
target/
**/target/

# IDE settings
.idea/
*.iml

# Compiled class files
*.class

# Test files
#*Test.java
#**/test/

# Env-specific configs
**/application-dev.yml

# (Optional) Custom folders
yummy-resource/